DJANGO_SECRET_KEY=rvkax7c)13)(a!kl@gpy*jlov2hxs0h27bah!qaijnp^c)n%h9
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
DJANGO_LANGUAGE_CODE=zh-hans
DJANGO_TIME_ZONE=Asia/Shanghai
DJANGO_STATIC_URL=/static/
DJANGO_MEDIA_URL=/media/
DJANGO_ADMIN_URL=admin/
DJANGO_LOG_LEVEL=INFO
DJANGO_DISABLE_EXISTING_LOGGERS=False

DATABASE_URL=postgres://postgres:postgres@localhost:5432/example
